@model ClassLibrary.OrderClass

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1>Place your order here.</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user" class="control-label"></label>
                <input asp-for="user" class="form-control" />
                <span asp-validation-for="user" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="locationName">
                    <option value="Pizza Store A">Pizza Store A</option>
                    <option value="Pizza Store B">Pizza Store B</option>
                    <option value="Pizza Store C">Pizza Store C</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="smallPizzas" class="control-label"></label>
                <input asp-for="smallPizzas" class="form-control" />
                <span asp-validation-for="smallPizzas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="largePizzas" class="control-label"></label>
                <input asp-for="largePizzas" class="form-control" />
                <span asp-validation-for="largePizzas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
