
@{
    ViewData["Title"] = "OrderFailed";
}

<h3><font color="red">Order failed. You may have ordered too recently, made your order too large, or the shop you have chosen may be out of stock.</font></h3>

